.landingPageContainor {
    display: flex;
    width: 100%;
    height: 800px;
}

.left-box {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px;
}

.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.login-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px rgb(0, 0, 0);
}

.login {
    display: flex;
}

.email {
    width: 150px;
    margin-right: 3px;
    border: 2px rgb(0, 0, 0);
    border-radius: 3px;
}

.option {
    display: flex;
    width: 154px;
}

select {
    width: 100%;
    margin-left: 3px;
    border: 2px rgb(0, 0, 0);
    border-radius: 3px;
}

.order {
    width: 100%;
}

.password {
    width: 307px;
    height: 17px;
    margin-top: 15px;
    border: 2px rgb(0, 0, 0);
    border-radius: 3px;
}

.login-button {
    width: 311px;
    height: 17px;
    margin-top: 15px;
    border: 2px rgb(0, 0, 0);
    border-radius: 3px;
}

.auth-navi {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 311px;
}

.actor-sign-in {

}

.director-auth {

}